:root {
  --body-color: #4a4a4a;
  --body-background-color: #f3f3f3;
  --box-color: var(--body-color);
  --box-background-color: #fff;
  --header-bar-color: #dadedd;
  --header-progress-color: #00c3ff;
  --title-color: #363636;
  --link: #3273dc;
  --link-hover: var(--title-color);
  --bg: #f5f5f5;
  --red: #aa0022;
  --widget-primary-bgcolor: #00d1b2;
  --widget-link-bgcolor: #3273dc;
  --widget-info-bgcolor: #3298dc;
  --widget-success-bgcolor: #48c774;
  --widget-warning-bgcolor: #ffdd57;
  --widget-danger-bgcolor: #f14668;
  --bgtext-opacity: 0.3; }

:root[data-color-scheme='dark'] {
  --body-color: #e4e4e4;
  --body-background-color: #1a1a1a;
  --box-background-color: #2b2d2f;
  --header-bar-color: #3a3e3d;
  --header-progress-color: #00c3ff;
  --title-color: #ddd;
  --link: #47a2e0;
  --bg: #1c1c1c;
  --red: #ff7f99;
  --widget-primary-bgcolor: #00917b;
  --widget-link-bgcolor: #2556a4;
  --widget-info-bgcolor: #246896;
  --widget-success-bgcolor: #328f52;
  --widget-warning-bgcolor: #e8ca53;
  --widget-danger-bgcolor: #c43854;
  --bgtext-opacity: 0.2; }
