<%- partial('_partial/header') %>

<div class="columns is-centered is-mobile">
    <main id="recent-post-list" class="column is-two-thirds-tablet is-full-mobile is-half-desktop">
        <% let show_posts = site.posts.filter( post => !(post.hidden)).sort('updated', 'desc').limit(theme.index_post_count || 5) %>
        <%- partial('_partial/post_list', {posts: show_posts, show_paginator: false}) %>
        <a href="<%- url_for('archives') %>">
            <button class="button is-info is-light mb-4">More posts</button>
        </a>
        <% if (theme.features.hitokoto) { %>
        <%- partial('_partial/hitokoto') %>
        <% } %>
    </main>
</div>