<div class="columns is-centered is-mobile">
    <main id="recent-post-list" class="column is-two-thirds-tablet is-full-mobile is-half-desktop">
        <div class="box no-box-animation">
            <% if (!page.no_title) { %>
	        <h2 class="title is-3"><%= page.title %></h2>
        	<hr>
            <% } %>
            <article class="content">
                <%- page.content %>
            </article>
        </div>
    </main>
</div>
