@charset 'utf-8';
@import './colors';

$box-radius: none;

@import 'bulma/bulma';

#bgTitle {
  font-size: 12rem;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  top: -130px;
  user-select: none;
  z-index: -1;
}

header.main {
  margin-top: 100px;
}

header.bar {
  display: flex;
  justify-content: space-between;
  padding: 3vh 2vw;
  @media (max-width: 768px) {
    padding: 3vh 5vw;
  }
  @media (min-width: 1024px) {
    position: sticky;
  }
  top: 0;
  width: 100%;
}
