<span>Created: <time datetime="<%= date_xml(post.date) %>"
        itemprop="dateModified"><%= date(post.date, config.date_format) %></time></span> ·
<span>Last update: <time datetime="<%= date_xml(post.updated) %>"
        itemprop="dateModified"><%= date(post.updated, config.date_format) %></time></span>