<header id="headerBar" class="bar">
    <div id="headerItems">
        <div id="headerTitle">
            <a href="<%- url_for('/') %>">
                <%= config.title %>
            </a>
        </div>
        <% let title = page?.title %>
        <% if (title) { %>
            <div id="barTitle" class="hidOnDemand">
                <%= title %>
            </div>
        <% } %>
        <div id="toggleColorScheme">
            <!-- https://cdn.jsdelivr.net/npm/ionicons@5.1.2/dist/svg/moon-outline.svg -->
            <div class="btnToggleDark" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                    <title>ionicons-v5-j</title>
                    <path
                        d="M160,136c0-30.62,4.51-61.61,16-88C99.57,81.27,48,159.32,48,248c0,119.29,96.71,216,216,216,88.68,0,166.73-51.57,200-128-26.39,11.49-57.38,16-88,16C256.71,352,160,255.29,160,136Z"
                        style="fill:none;stroke:var(--body-color);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                </svg>
            </div>
            <!-- https://cdn.jsdelivr.net/npm/ionicons@5.1.2/dist/svg/sunny-outline.svg -->
            <div class="btnToggleLight" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                    <title>ionicons-v5-q</title>
                    <line x1="256" y1="48" x2="256" y2="96"
                        style="fill:none;stroke:var(--body-color);stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
                    <line x1="256" y1="416" x2="256" y2="464"
                        style="fill:none;stroke:var(--body-color);stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
                    <line x1="403.08" y1="108.92" x2="369.14" y2="142.86"
                        style="fill:none;stroke:var(--body-color);stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
                    <line x1="142.86" y1="369.14" x2="108.92" y2="403.08"
                        style="fill:none;stroke:var(--body-color);stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
                    <line x1="464" y1="256" x2="416" y2="256"
                        style="fill:none;stroke:var(--body-color);stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
                    <line x1="96" y1="256" x2="48" y2="256"
                        style="fill:none;stroke:var(--body-color);stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
                    <line x1="403.08" y1="403.08" x2="369.14" y2="369.14"
                        style="fill:none;stroke:var(--body-color);stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
                    <line x1="142.86" y1="142.86" x2="108.92" y2="108.92"
                        style="fill:none;stroke:var(--body-color);stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
                    <circle cx="256" cy="256" r="80"
                        style="fill:none;stroke:var(--body-color);stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
            </div>
            </span>
        </div>
    </div>
    <div id="progressBar" class="hidOnDemand"></div>
</header>