<div id="hitokotoQuote" class="box mx-5 my-2 is-hidden-touch">
    <div class="bgText"><%= __('partial.hitokoto') %></div>
    <span id="hitoLoading"><%= __('partial.fetch_hito') %></span>
</div>

<%- js('js/hitokoto', {async: true}) %>