<div class="box no-box-animation">
    <div class="tags are-medium">
        <% tags.map(function(tag){  %>
        <a href="<%= tag.link %>" class="tag is-link is-medium">
            <%= tag.name %>
        </a>
        <% }) %>
    </div>
</div>