@import '../colors';

#headerBar {
  top: 0;
  width: 100%;
  z-index: 3;

  @media (min-width: 1024px) {
    position: sticky;
  }
}

#headerItems {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  padding: 2vh 2vw;
}

@media (max-width: 768px) {
  #headerItems {
    padding: 2vh 5vw;
  }
}

#progressBar {
  background-color: var(--header-progress-color);
  height: 1.2px;
}

.hidOnDemand {
  display: none;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}

@media (min-width: 1024px) {
  #headerItems {
    transition: all ease-in-out 0.3s;
  }

  .hidOnDemand {
    display: block;
  }

  .sticky {
    #headerItems {
      background-color: var(--header-bar-color);
      box-shadow: 2px 0 7px 7px rgba(0, 0, 0, 0.2);
    }

    .hidOnDemand {
      opacity: 1;
    }
  }
}

#headerTitle,
#toggleColorScheme {
  width: 120px;
}

#toggleColorScheme {
  display: flex;
  justify-content: right;
  align-items: center;

  & > div:hover {
    cursor: pointer;
  }
  svg {
    height: 1.4rem;
    width: 1.4rem;
  }
}
